@media screen and (max-width: 1560px) {
  .container .nav-box .menu li a {
    font-size: 18px;
  }
  .container .title-box span {
    font-size: 40px;
  }
  .container .title-box .box-odessa img {
    height: 210px;
  }
  .container .text-excitement-of-odessa span {
    font-size: 85px;
    line-height: 85px;
  }
  .container .text-excitement-of-odessa p {
    font-size: 30px;
  }
  .container .text-excitement-of-odessa .btn-more {
    margin-left: 22%;
  }
  .btn-site {
    font-size: 22px;
  }
  .container .nav-box .menu li:hover:after {
    border-top: 10px solid #ffffff;
  }
  .container .footer-nav .footer-nav-box .footer-menu li a {
    font-size: 18px;
  }
  .container .footer-nav .footer-nav-box .footer-menu li:hover:after {
    border-bottom: 10px solid #ffffff;
  }
  .container .footer-nav .contact-footer .contact a span {
    font-size: 18px;
  }
  .container .text-excitement-of-odessa {
    margin-bottom: 37%;
  }
  .container .box-text-hotels .text-hotels {
    font-size: 32px;
    margin-left: 80px;
  }
  .container .transfer {
    margin-top: 0px;
  }
  .container .transfer {
    padding-top: 110px;
  }
  .container .gallery-slider {
    height: 550px;
  }
  .container .gallery-slider .box-gallary .box-img-active {
    height: 550px;
  }
  .container .gallery-slider .box-gallary .box-img-active .img-active {
    height: 500px;
  }
  .container .gallery-slider .box-gallary .box-img {
    height: 500px;
  }
  .container .gallery-slider .box-gallary .box-img .img-gallary {
    height: 150px;
  }
}
@media screen and (max-width: 1260px) {
  .container .nav-box .menu li a {
    font-size: 18px;
  }
  .container .nav-box .menu li:hover:after {
    border-top: 10px solid #ffffff;
  }
  .container .title-box {
    margin-top: 0px;
    margin-bottom: 250px;
  }
  .container .title-box span {
    font-size: 36px;
    margin-left: 90px;
  }
  .container .title-box .box-odessa img {
    height: 175px;
  }
  .container .title-box .box-odessa {
    margin-top: 0px;
    padding-left: 80px;
  }
  .container .text-excitement-of-odessa {
    margin-bottom: 30%;
  }
  .container .text-excitement-of-odessa span {
    line-height: 70px;
  }
  .container .text-excitement-of-odessa p {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .container .odessa-relax {
    padding-top: 0px;
  }
  .container .box-hotels img {
    margin-top: 270px;
    margin-bottom: 30px;
  }
  .hotels-bg {
    height: 120%;
    top: 130px;
  }
  .container .odessa-relax .title1 {
    font-size: 26px;
  }
  .container .transfer {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .container .box-turs .row {
    height: 325px;
  }
  .container .box-turs {
    padding: 80px 0px 70px 0px;
  }
  .container .box-turs .title-turs span {
    font-size: 65px;
  }
  .container .discount .title-discount span {
    font-size: 37px;
  }
  .container .discount .title-discount span:nth-child(2) {
    font-size: 92px;
  }
  .container .discount .title-discount span:nth-child(4) {
    font-size: 168px;
  }
  .container .discount .get-discount {
    text-align: center;
  }
  .container .discount .get-discount .btn-messenge {
    padding: 15px 95px;
  }
  .container .box-reservations {
    margin-top: 50px;
  }
  .container .box-reservations .title-reservations {
    font-size: 40px;
    margin-top: 120px;
  }
  .container .box-reservations .reservations {
    margin-top: 15px;
  }
  .container .box-reservations .reservations span {
    font-size: 16px;
  }
  .container .box-reservations .reservations .box-date .date .form-date {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    padding: 5px 10px 5px 30px;
  }
  .container .box-reservations .reservations .box-date .date:after {
    top: 65%;
  }
  .container .box-reservations .reservations .form-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    padding: 5px 10px 5px 30px;
  }
  .container .box-reservations .reservations .box-contact .contact .form-contact {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    padding: 5px 10px 5px 30px;
  }
  .container .box-reservations .reservations .box-contact {
    margin-top: 0px;
  }
  .container .box-reservations .btn-reservations {
    padding: 10px 135px;
    font-size: 26px;
  }
  .container .footer-nav .footer-nav-box .footer-menu li a {
    font-size: 18px;
  }
  .container .footer-nav .contact-footer .contact a span {
    font-size: 18px;
  }
  .container .footer-nav .footer-nav-box .footer-menu li:hover:after {
    border-bottom: 10px solid #ffffff;
  }
  @keyframes deep2 {
    0% {
      top: -70%;
      right: 18%;
    }
    100% {
      top: -50%;
      right: 22%;
    }
  }
  .container .deep {
    width: 200px;
    top: -50%;
    right: 22%;
    animation: deep2 5s linear;
  }
  .container .box-turs .row .turs .line-right {
    top: 68%;
    right: -40%;
  }
  .container .box-turs .row .turs .line-left {
    top: 68%;
    left: -40%;
  }
}
@media screen and (max-width: 1260px) {
  .container .nav-box .menu li a {
    font-size: 18px;
  }
  .container .nav-box .menu li:hover:after {
    border-top: 10px solid #ffffff;
  }
  .container .title-box {
    margin-top: 0px;
    margin-bottom: 250px;
  }
  .container .title-box span {
    font-size: 36px;
    margin-left: 90px;
  }
  .container .title-box .box-odessa img {
    height: 175px;
  }
  .container .title-box .box-odessa {
    margin-top: 0px;
    padding-left: 80px;
  }
  .container .text-excitement-of-odessa {
    margin-bottom: 30%;
  }
  .container .text-excitement-of-odessa span {
    line-height: 70px;
  }
  .container .text-excitement-of-odessa p {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .container .odessa-relax {
    padding-top: 0px;
  }
  .container .box-hotels img {
    margin-top: 270px;
    margin-bottom: 30px;
  }
  .hotels-bg {
    height: 120%;
    top: 130px;
  }
  .container .odessa-relax .title1 {
    font-size: 26px;
  }
  .container .transfer {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .container .box-turs .row {
    height: 325px;
  }
  .container .box-turs {
    padding: 80px 0px 70px 0px;
  }
  .container .box-turs .title-turs span {
    font-size: 65px;
  }
  .container .discount .title-discount span {
    font-size: 37px;
  }
  .container .discount .title-discount span:nth-child(2) {
    font-size: 92px;
  }
  .container .discount .title-discount span:nth-child(4) {
    font-size: 168px;
  }
  .container .discount .get-discount {
    text-align: center;
  }
  .container .discount .get-discount .btn-messenge {
    padding: 15px 95px;
  }
  .container .box-reservations {
    margin-top: 50px;
  }
  .container .box-reservations .title-reservations {
    font-size: 40px;
    margin-top: 120px;
  }
  .container .box-reservations .reservations {
    margin-top: 15px;
  }
  .container .box-reservations .reservations span {
    font-size: 16px;
  }
  .container .box-reservations .reservations .box-date .date .form-date {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    padding: 5px 10px 5px 30px;
  }
  .container .box-reservations .reservations .box-date .date:after {
    top: 65%;
  }
  .container .box-reservations .reservations .form-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    padding: 5px 10px 5px 30px;
  }
  .container .box-reservations .reservations .box-contact .contact .form-contact {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    padding: 5px 10px 5px 30px;
  }
  .container .box-reservations .reservations .box-contact {
    margin-top: 0px;
  }
  .container .box-reservations .btn-reservations {
    padding: 10px 135px;
    font-size: 26px;
  }
  .container .footer-nav .footer-nav-box .footer-menu li a {
    font-size: 18px;
  }
  .container .footer-nav .contact-footer .contact a span {
    font-size: 18px;
  }
  .container .footer-nav .footer-nav-box .footer-menu li:hover:after {
    border-bottom: 10px solid #ffffff;
  }
  @keyframes deep2 {
    0% {
      top: -70%;
      right: 18%;
    }
    100% {
      top: -50%;
      right: 22%;
    }
  }
  .container .deep {
    width: 200px;
    top: -50%;
    right: 22%;
    animation: deep2 5s linear;
  }
  .container .box-turs .row .turs .line-right {
    top: 68%;
    right: -40%;
  }
  .container .box-turs .row .turs .line-left {
    top: 68%;
    left: -40%;
  }
  .boat {
    margin-top: 440px;
    right: -5%;
  }
  .container .nav-box .menu li {
    padding: 17px 10px;
  }
  .header-in .container .nav-box .menu li a {
    font-size: 16px;
  }
  .header-in .container .nav-box .menu li {
    padding: 17px 10px;
  }
  section.gallery .gallery-container__item {
    width: 40%;
  }
  section.gallery .main-slider .gallery-slider__desc {
    padding-left: 40px;
  }
}
@media screen and (max-width: 1100px) {
  .container .discount .title-discount span {
    font-size: 32px;
  }
  .container .discount .title-discount span:nth-child(2) {
    font-size: 82px;
  }
  .container .discount .title-discount span:nth-child(4) {
    font-size: 145px;
  }
  .container .box-text-hotels .text-hotels {
    font-size: 30px;
  }
  section.gallery .main-slider__flex {
    flex-wrap: wrap-reverse;
  }
  section.gallery .main-slider .gallery-slider__desc {
    max-width: inherit;
    padding-left: 0;
  }
  section.gallery .main-slider .gallery-slider__for {
    width: 100%;
    max-width: 100%;
  }
  .header-in .header-bg-tour {
    background-size: 170%;
  }
}
@media screen and (max-width: 960px) {
  .container .nav-box .menu li a {
    font-size: 16px;
  }
  .container .title-box {
    margin-bottom: 160px;
  }
  .container .title-box span {
    font-size: 30px;
    margin-left: 76px;
  }
  .container .title-box .box-odessa img {
    height: 140px;
  }
  .container .title-box .box-odessa {
    padding-left: 50px;
  }
  .container .text-excitement-of-odessa span {
    font-size: 60px;
  }
  .container .text-excitement-of-odessa p {
    font-size: 14px;
    margin-top: 0px;
  }
  .container .text-excitement-of-odessa .btn-more {
    margin-left: 0%;
    font-size: 18px;
  }
  .container .odessa-relax .title2 {
    font-size: 30px;
  }
  .container .odessa-relax .title1 {
    font-size: 16px;
  }
  .container .box-hotels img {
    height: 100px;
  }
  .btn-site {
    font-size: 18px;
    padding: 7px 80px;
  }
  .container .transfer {
    padding-top: 65px;
    padding-bottom: 160px;
  }
  .container .transfer span {
    font-size: 40px;
  }
  .container .box-turs .row {
    height: 250px;
  }
  .container .box-turs .title-turs {
    margin-top: 20px;
  }
  .container .box-turs .title-turs span {
    font-size: 45px;
  }
  .container .box-turs {
    padding: 30px 0px 60px 0px;
  }
  .container .box-turs .row .turs span {
    font-size: 24px;
  }
  .container .food-turs {
    height: 430px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .container .food-turs .food-slider .food {
    height: 460px;
  }
  .container .food-turs .food-slider2 .food {
    height: 460px;
  }
  .container .title-turs .title1 {
    font-size: 23px;
  }
  .container .title-turs .title2 {
    font-size: 60px;
  }
  .container .photo-gallery-title {
    margin-top: 0px;
  }
  .container .photo-gallery-title .title1 {
    font-size: 50px;
  }
  .container .photo-gallery-title .title2 {
    font-size: 50px;
  }
  .container .gallery-slider {
    margin-top: 0px;
  }
  .container .feedback span {
    font-size: 50px;
  }
  .container .feedback .feedback-slidere .mesenger .title-mesenger {
    padding: 30px 20px 0px 0px;
  }
  .container .feedback .feedback-slidere .mesenger .title-mesenger .name {
    font-size: 16px;
  }
  .container .feedback .feedback-slidere .mesenger .title-mesenger p {
    font-size: 16px;
  }
  .container .feedback .feedback-slidere {
    height: 200px;
    margin-top: 0px;
  }
  .container .discount .title-discount {
    max-width: 340px;
  }
  .container .discount .title-discount span {
    font-size: 25px;
  }
  .container .discount .title-discount span:nth-child(2) {
    font-size: 63px;
  }
  .container .discount .title-discount span:nth-child(4) {
    font-size: 116px;
  }
  .container .discount .get-discount .btn-messenge {
    padding: 15px 45px;
  }
  .container .discount {
    margin-top: 20px;
  }
  .container .footer-nav .footer-nav-box .footer-menu li a {
    font-size: 16px;
  }
  .container .footer-nav .contact-footer .contact a span {
    font-size: 14px;
  }
  .container .discount .get-discount .inp-text {
    padding: 10px;
  }
  .container .discount .get-discount .inp-message {
    padding: 10px;
  }
  @keyframes deep3 {
    0% {
      top: -48%;
      right: 24%;
    }
    100% {
      top: -18%;
      right: 27%;
    }
  }
  .container .deep {
    width: 100px;
    top: -18%;
    right: 27%;
    animation: deep3 5s linear;
  }
  .container .box-text-hotels .text-hotels {
    font-size: 28px;
  }
  .container .box-text-hotels {
    padding-bottom: 20px;
  }
  .container .box-turs .row .turs .line-right {
    top: 80%;
    right: -50%;
  }
  .container .box-turs .row .turs .line-left {
    top: 80%;
    left: -50%;
  }
  .container .gallery-slider {
    height: 450px;
  }
  .container .gallery-slider .box-gallary .box-img-active {
    height: 450px;
  }
  .container .gallery-slider .box-gallary .box-img-active .img-active {
    height: 400px;
  }
  .container .gallery-slider .box-gallary .box-img {
    height: 400px;
  }
  .container .gallery-slider .box-gallary .box-img .img-gallary {
    height: 100px;
  }
  .boat {
    margin-top: 470px;
    right: -7%;
  }
  .container .discount .title-discount.title_work span.first {
    font-size: 45px;
  }
  .container .discount .title-discount.title_work span.second {
    font-size: 60px;
  }
  .container .discount .title-discount.title_work span.third {
    font-size: 60px;
  }
  .container .discount .title-discount.title_work span.fourth {
    font-size: 30px;
    letter-spacing: -2.64px;
  }
}
@media screen and (max-width: 768px) {
  .container .nav-box .menu {
    display: none;
  }
  .about_container {
    margin-top: -150px;
  }
  .container .nav-box .fa-bars {
    display: block;
  }
  .container .title-box span {
    font-size: 22px;
    margin-left: 25px;
  }
  .container .title-box .box-odessa {
    padding-left: 15px;
  }
  .container .title-box .box-odessa img {
    height: 100px;
  }
  .container .title-box {
    margin-bottom: 125px;
  }
  .container .text-excitement-of-odessa span {
    font-size: 40px;
  }
  .container .text-excitement-of-odessa p {
    font-size: 10px;
    line-height: 16px;
  }
  .btn-site {
    font-size: 16px;
    padding: 7px 65px;
  }
  .odessa-opera-bg {
    top: 110px;
  }
  .container .odessa-relax .title2 {
    font-size: 18px;
  }
  .container .odessa-relax .title1 {
    font-size: 12px;
  }
  .container .box-hotels img {
    height: 65px;
    margin-top: 55px;
  }
  .hotels-bg {
    height: 110%;
    top: 120px;
  }
  .container .transfer {
    padding-top: 76px;
    padding-bottom: 110px;
  }
  .container .transfer span {
    font-size: 30px;
  }
  .container .box-turs .row {
    height: 170px;
  }
  .container .box-turs .row .turs span {
    font-size: 18px;
  }
  .container .box-turs .title-turs span {
    font-size: 30px;
  }
  .container .box-turs {
    padding: 30px 0px;
  }
  .container .food-turs .food-slider .food {
    height: 360px;
  }
  .container .food-turs .food-slider2 .food {
    height: 360px;
  }
  .container .food-turs {
    height: 327px;
  }
  .container .food-turs .food-slider .slick-dots li button:before {
    font-size: 10px;
  }
  .container .title-turs .title1 {
    font-size: 18px;
  }
  .container .title-turs .title2 {
    font-size: 47px;
    line-height: 42.13px;
  }
  .container .photo-gallery-title .title1 {
    font-size: 38px;
  }
  .container .photo-gallery-title .title2 {
    font-size: 38px;
  }
  .container .gallery-slider .foto-gallary {
    height: 370px;
  }
  .container .gallery-slider {
    height: 380px;
  }
  .container .gallery-slider .slick-dots li button:before {
    font-size: 10px;
  }
  .container .feedback span {
    letter-spacing: -0.8px;
    font-size: 36px !important;
  }
  .container .feedback .feedback-slidere .mesenger img {
    height: 110px;
  }
  .container .feedback .feedback-slidere .mesenger .title-mesenger {
    padding: 0px 20px 0px 0px;
  }
  .container .feedback .feedback-slidere .mesenger .title-mesenger p {
    font-size: 12px;
  }
  .container .feedback .feedback-slidere .mesenger .title-mesenger .name {
    font-size: 14px;
  }
  .container .feedback .feedback-slidere {
    height: 130px;
  }
  .container .feedback .feedback-slidere .slick-dots li button:before {
    font-size: 8px;
  }
  .container .feedback {
    padding-top: 75px;
    padding-bottom: 90px;
  }
  .container .discount .title-discount {
    max-width: 240px;
  }
  .container .discount .title-discount span {
    font-size: 18px;
  }
  .container .discount .title-discount span:nth-child(2) {
    font-size: 45px;
    line-height: 58.39px;
  }
  .container .discount .title-discount span:nth-child(4) {
    font-size: 83px;
    line-height: 90.75px;
  }
  .container .discount .get-discount .inp-text {
    font-size: 14px;
  }
  .container .discount .get-discount input::placeholder {
    font-size: 12px;
  }
  .container .discount .get-discount textarea::placeholder {
    font-size: 12px;
    line-height: 12px;
  }
  .container .discount .get-discount .inp-message {
    font-size: 14px;
  }
  .container .discount .get-discount .inp-text {
    margin-top: 0px;
  }
  .container .discount .get-discount .inp-text:nth-child(2) {
    margin-top: 10px;
  }
  .container .discount .get-discount .inp-message {
    margin-top: 10px;
  }
  .container .discount .get-discount .btn-messenge {
    font-size: 14px;
    line-height: 14px;
    padding: 15px 35px;
  }
  .container .box-reservations {
    margin-top: 30px;
  }
  .container .box-reservations .title-reservations {
    font-size: 30px;
    margin-top: 110px;
  }
  .container .box-reservations .reservations span {
    font-size: 14px;
  }
  .container .footer-nav .footer-nav-box .footer-menu {
    display: none;
  }
  .container .footer-nav {
    justify-content: center;
  }
  .container .footer-nav .contact-footer .contact:nth-child(2) {
    flex-direction: row;
  }
  .container .odessa-relax .box-hotels {
    max-width: 260px;
  }
  @keyframes deep4 {
    0% {
      top: -62%;
      right: 24%;
    }
    100% {
      top: -32%;
      right: 27%;
    }
  }
  .container .deep {
    width: 100px;
    top: -32%;
    right: 27%;
    animation: deep4 5s linear;
  }
  .container .box-text-hotels .text-hotels {
    font-size: 18px;
  }
  .container .box-hotels img {
    margin-top: 138px;
  }
  .container .box-turs .row .turs .line-right {
    top: 70%;
  }
  .container .box-turs .row .turs .line-left {
    top: 70%;
  }
  .container .gallery-slider {
    height: 200px;
  }
  .container .gallery-slider .box-gallary .box-img-active {
    height: 200px;
  }
  .container .gallery-slider .box-gallary .box-img-active .img-active {
    height: 200px;
  }
  .container .gallery-slider .box-gallary .box-img {
    height: 200px;
    max-width: 240px;
  }
  .container .gallery-slider .box-gallary .box-img .img-gallary {
    height: 63px;
  }
  .contact-bg {
    padding-top: 50px;
  }
  section .contact-bg__box {
    flex-wrap: wrap;
    justify-content: center;
  }
  section .contact-bg__box-left {
    padding: 0 15px 50px 15px;
  }
  section .contact-bg__box-right {
    width: 100%;
    height: 350px;
  }
  .header-in .container .nav-box .fa-bars {
    display: block;
  }
  .header-in .container .header-row .logo,
  .header-gallery .container .header-row .logo {
    order: 2;
  }
  .header-in .container .header-row .social-contact,
  .header-gallery .container .header-row .social-contact {
    order: 3;
  }
  .footer-in .container .footer-nav {
    justify-content: space-between;
  }
  section.gallery .gallery-container__item {
    width: 80%;
  }
  section.gallery .main-slider {
    background: inherit;
    padding: 0;
  }
  .header-gallery .header-bg-in {
    height: inherit;
  }
  .header-gallery .container .header-row {
    margin-bottom: 150px;
  }
  section.gallery {
    margin-top: 100px;
  }
  section .tour-bg .tour__block-top {
    flex-wrap: wrap;
  }
  section .tour-bg .tour__block-bottom {
    flex-wrap: wrap;
  }
  section .tour-bg .tour__block-bottom .tour__block-item {
    width: 100%;
  }
  section .tour-bg {
    margin-top: -750px;
  }
}
@media screen and (max-width: 576px) {
  .btn-site {
    font-size: 16px;
    padding: 3px 40px;
  }
  footer {
    background: #3ab5c7;
    margin-top: 30px;
  }
  .container .box-reservations .btn-reservations {
    padding: 5px 60px;
    font-size: 16px;
  }
  .container .footer-nav .contact-footer .contact a span {
    font-size: 12px;
  }
  .container .nav-box .fa-bars {
    font-size: 16px;
  }
  .header-bg .container svg,
  .bg-footer .container svg {
    width: 10px;
  }
  .container .title-box span {
    font-size: 14px;
    margin-left: 0px;
  }
  .container .title-box .box-odessa {
    padding-left: 0px;
  }
  .container .title-box .box-odessa img {
    height: 60px;
  }
  .header-bg {
    height: 110%;
  }
  .container .title-box {
    margin-bottom: 110px;
  }
  .container .text-excitement-of-odessa span {
    font-size: 24px;
  }
  .container .text-excitement-of-odessa span {
    font-size: 24px;
    line-height: 35px;
  }
  .container .text-excitement-of-odessa p {
    margin-bottom: 10px;
  }
  .odessa-opera-bg {
    top: 75px;
  }
  .container .odessa-relax .title1 {
    font-size: 8px;
  }
  .container .odessa-relax .title2 {
    font-size: 16px;
  }
  .container .odessa-relax .align-self-center {
    padding: 5px;
  }
  .container .odessa-relax {
    padding-top: 65px;
  }
  .hotels-bg {
    background-position-y: 60px;
  }
  .container .box-hotels img {
    height: 36px;
    margin-left: 35px;
    margin-bottom: 5px;
  }
  .btn-hotels {
    font-size: 14px;
    margin-left: 38px;
    margin-top: 0px;
    padding: 3px 35px;
  }
  .container .transfer {
    margin-top: 35px;
    padding-bottom: 45px;
    padding-top: 10px;
    margin-left: 40px;
  }
  .btn-site {
    font-size: 12px;
    padding: 3px 29px;
  }
  .container .transfer span {
    font-size: 15px;
  }
  .align-self-end {
    padding: 0px;
  }
  .align-self-start {
    padding: 0px;
  }
  .container .box-turs .title-turs span {
    font-size: 22px;
  }
  .container .box-turs .row .turs span {
    font-size: 14px;
  }
  .container .box-turs .row {
    height: 155px;
  }
  .container .food-turs .food-slider .food {
    height: 220px;
  }
  .container .food-turs .food-slider2 .food {
    height: 220px;
  }
  .container .food-turs {
    height: 200px;
  }
  .container .food-turs .food-slider .slick-dots li button:before {
    font-size: 7px;
  }
  .container .title-turs .title1 {
    font-size: 16px;
  }
  .container .title-turs .title2 {
    font-size: 40px;
    line-height: 40.13px;
  }
  .container .photo-gallery-title .title1 {
    font-size: 26px;
  }
  .container .photo-gallery-title .title2 {
    font-size: 26px;
  }
  .container .gallery-slider .foto-gallary {
    height: 130px;
  }
  .container .gallery-slider {
    height: 130px;
    margin-top: 20px;
  }
  .container .gallery-slider .slick-dots li button:before {
    font-size: 7px;
  }
  .container .feedback span {
    font-size: 24px !important;
  }
  .container .feedback .feedback-slidere .mesenger img {
    height: 75px;
  }
  .container .feedback .feedback-slidere .mesenger .title-mesenger .name {
    font-size: 12px;
  }
  .container .feedback .feedback-slidere .mesenger {
    margin-left: 0px;
  }
  .container .feedback .feedback-slidere .mesenger .title-mesenger p {
    font-size: 10px;
    margin-top: 0px;
  }
  .container .feedback .feedback-slidere .slick-dots li button:before {
    font-size: 6px;
  }
  .container .feedback {
    padding-top: 70px;
    padding-bottom: 55px;
  }
  .container .discount .title-discount {
    text-align: center;
    max-width: 274px;
    margin: 0px auto;
  }
  .container .discount .get-discount {
    max-width: 274px;
    margin: 0px auto;
  }
  .container .discount .get-discount .btn-messenge {
    padding: 10px 30px;
    font-size: 12px;
  }
  .container .discount .get-discount .inp-message {
    margin-bottom: 10px;
  }
  .container .box-reservations .title-reservations {
    font-size: 26px;
    margin-top: 90px;
  }
  .container .box-reservations .reservations span {
    font-size: 10px;
    margin-left: 20px;
  }
  .container .box-reservations .reservations .box-date .date .form-date {
    font-size: 12px;
    padding: 5px;
  }
  .container .box-reservations .reservations .box-date .date:after {
    border: 5px solid transparent;
    border-top: 5px solid #3ab5c7;
  }
  .container .box-reservations .reservations .form-text {
    padding: 5px;
    font-size: 12px;
  }
  .container .box-reservations .reservations .box-contact .contact .form-contact {
    padding: 5px;
    font-size: 12px;
  }
  .ui-datepicker {
    max-width: 100% !important;
    left: 0px !important;
  }
  .container .box-reservations .reservations .box-date .date:after {
    top: 70%;
  }
  .container .footer-nav .contact-footer {
    flex-direction: column;
    margin-top: 40px;
  }
  .container .footer-nav .contact-footer .contact:nth-child(2) {
    flex-direction: column;
  }
  .container .footer-nav .contact-footer .contact:nth-child(1) {
    padding-bottom: 0px;
  }
  .container .box-reservations .btn-reservations {
    margin-top: 20px;
  }
  .container .odessa-relax {
    padding-top: 0px;
  }
  .container .gallery-slider {
    height: 200px;
  }
  .container .gallery-slider .foto-gallary {
    height: 190px;
  }
  @keyframes deep5 {
    0% {
      top: -77%;
      right: 23%;
    }
    100% {
      top: -52%;
      right: 28%;
    }
  }
  .container .deep {
    width: 100px;
    top: -52%;
    right: 28%;
    animation: deep5 5s linear;
  }
  .container .box-text-hotels .text-hotels {
    font-size: 12px;
    margin-left: 10px;
  }
  .container .gallery-slider {
    height: 150px;
  }
  .container .gallery-slider .box-gallary .box-img-active {
    height: 150px;
  }
  .container .gallery-slider .box-gallary .box-img-active .img-active {
    height: 150px;
  }
  .container .gallery-slider .box-gallary .box-img {
    height: 150px;
    max-width: 150px;
  }
  .container .gallery-slider .box-gallary .box-img .img-gallary {
    height: 45px;
  }
  section .contact-bg__box-left .contact-bg__box-title:nth-child(1) {
    font-size: 50px;
  }
  section .contact-bg__box-left .contact-bg__box-title:nth-child(2) {
    font-size: 42px;
    margin-bottom: 50px;
  }
  .contact-bg__box-left .contact-bg__box-desc {
    min-width: inherit;
  }
  .contact-bg__box-left .contact-bg__box-desc .box-desc__item-desc {
    font-size: 16px;
  }
  .header-gallery .header-bg-in {
    background-position: left top;
  }
  .header-gallery .container .header-row {
    margin-bottom: 50px;
  }
  section .tour-bg .tour__block-button {
    width: 100%;
  }
  section .tour-bg {
    padding: 0 15px 0 15px;
  }
}
@media screen and (max-width: 500px) {
  .about_container {
    margin-top: -100px;
  }
  .about_container_title {
    font-size: 30px;
  }
  .about_container_text {
    font-size: 16px;
  }
  .about_container_link {
    font-size: 16px;
  }
  .about_container_subtitle {
    font-size: 20px;
  }
  section .contact-bg__box-left .contact-bg__box-title:nth-child(2) {
    font-size: 30px;
  }
  section .contact-bg__box-left .contact-bg__box-title:nth-child(1) {
    font-size: 40px;
  }
}
@media screen and (max-width: 425px) {
  .header-gallery .container .header-row {
    margin-bottom: -90px;
  }
  .header-in {
    margin-bottom: -90px;
  }
  section.gallery .gallery-container__item-button {
    width: 100%;
  }
  .header-gallery .container .header-title {
    font-size: 48px;
  }
  section.gallery .gallery-container__item-title b {
    font-size: 48px;
  }
  section.gallery .main-slider .gallery-slider__desc-title b {
    font-size: 48px;
  }
  .header-in .header-bg-tour {
    background-size: 170% 40%;
  }
  section .tour-bg .tour__block-top .tour__block-title b {
    font-size: 48px;
  }
  section .tour-bg .tour__block-desc {
    font-size: 18px;
  }
  section .tour-bg {
    margin-top: -1000px;
  }
}
@media screen and (max-width: 375px) {
  section.gallery {
    padding: 0 15px 0 15px;
  }
}
