@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNextCyr-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url("../fonts/AvenirNextCyr-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Road-Radio";
  src: url("../fonts/Road-Radio.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AcromMedium";
  src: url("../fonts/acromMedium.otf") format('truetype');
  font-style: normal;
  font-weight: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext';
  font-weight: 500;
  background-color: #f4f4f4;
  background-size: cover;
}
* {
  margin: 0;
  padding: 0;
  color: #3ab5c7;
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  user-select: none;
  -webkit-user-select: none;
  outline: none;
  font-family: 'AvenirNext';
  font-weight: 500;
}
.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
header {
  position: relative;
}
section {
  position: relative;
}
.btn-site {
  position: relative;
  padding: 7px 100px;
  color: #ffffff;
  font-size: 34px;
  letter-spacing: 1.25px;
  border-radius: 15px;
  background-color: #3ab5c7;
  animation-delay: 0.33s;
  transform: scale(1);
  z-index: 40;
}
@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.1);
    opacity: 0.1;
    background: red;
  }
}
.btn-site:hover {
  color: #ffffff;
  background: red;
}
.btn-site:hover:after,
.btn-site:hover:before {
  content: "";
  position: absolute;
  transform: scale(0);
  height: 120%;
  width: 100%;
  top: -10%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15px;
  background: red;
  animation: scale 2s infinite;
  z-index: -1;
}
.btn-site:hover:after {
  animation-delay: 0.33s;
}
.header-bg {
  background: url(../img/header/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.odessa-opera-bg {
  background: url(../img/section1/The-Odessa-Opera.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hotels-bg {
  background: url(../img/section3/hotels.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 100px;
}
.bg-turs {
  background: url(../img/section5/bg-turs.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-feedback {
  background: url(../img/section8/bg-feedback.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-footer {
  background: url(../img/footer/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
}
.boat {
  position: absolute;
  margin-top: 530px;
  right: 5%;
  top: 0;
  bottom: 0;
  z-index: 500;
  width: 35%;
}
.container {
  position: relative;
  max-width: 1232px;
}
@keyframes deep {
  0% {
    top: -100%;
    right: 0%;
  }
  100% {
    top: -65%;
    right: 5%;
  }
}
.container .deep {
  position: absolute;
  top: -65%;
  right: 5%;
  animation: deep 5s linear;
}
.container .logo {
  padding-top: 10px;
  padding-left: 15px;
}
.container .logo .header-img {
  width: 100%;
}
.container .social-contact_lang {
  font-size: 16px;
  color: #fff;
  font-family: "AvenirNext-Bold";
}
.container .social-contact_lang.active {
  opacity: .5;
}
.container .social-contact span {
  margin: 0 5px;
  font-size: 16px;
  color: #fff;
  font-family: "AvenirNext-Bold";
}
.container .nav-box .menu {
  margin-bottom: 0px;
}
.container .nav-box .menu li {
  position: relative;
  padding: 17px 20px;
  float: left;
}
.container .nav-box .menu li.active:hover:after {
  display: none;
}
.container .nav-box .menu li.active a {
  background: #fff;
  color: #3ab5c7 !important;
  padding: 5px 30px;
  border-radius: 30px;
}
.container .nav-box .menu li a {
  font-family: "AvenirNext-Bold";
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 0.6px;
  text-decoration: none;
}
.container .nav-box .menu li:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  border-top: 15px solid #ffffff;
}
.container .nav-box .box-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
  z-index: 999;
}
.container .nav-box .box-mobile.active {
  opacity: 1;
  visibility: visible;
}
.container .nav-box .box-mobile.active .menu-mobile {
  transform: none;
  opacity: 1;
  visibility: visible;
}
.container .nav-box .box-mobile .menu-mobile {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/header/640579.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  transform: translateX(-100%);
  z-index: 500;
}
.container .nav-box .box-mobile .menu-mobile li {
  padding: 5px 0px;
}
.container .nav-box .box-mobile .menu-mobile li a {
  font-family: "AvenirNext-Bold";
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 0.6px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}
.container .nav-box .box-mobile .menu-mobile li .fa-times {
  font-size: 18px;
  color: #fff;
}
.container .nav-box .box-mobile .menu-mobile:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2690b96b;
  z-index: -1;
}
.container .nav-box .fa-bars {
  display: none;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}
.container .header-contact {
  float: right;
}
.container .header-contact ul li {
  padding: 17px 10px;
  float: left;
}
.container .title-box {
  margin-top: 130px;
  margin-bottom: 515px;
  text-align: left;
}
.container .title-box span {
  font-size: 57px;
  font-family: "Road-Radio";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.75px;
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(103, 245, 232, 0.34);
  background-position: center;
}
.container .title-box .box-odessa {
  margin-top: 20px;
}
.container .title-box .box-odessa img {
  max-width: 100%;
}
.container .title-box .box-odessa img:nth-child(1) {
  animation: odessa 2s linear;
  animation-delay: 1.5s;
}
.container .title-box .box-odessa img:nth-child(2) {
  animation: odessa 2s linear;
  animation-delay: 2s;
}
.container .title-box .box-odessa img:nth-child(3) {
  animation: odessa 2s linear;
  animation-delay: 2.5s;
}
.container .title-box .box-odessa img:nth-child(4) {
  animation: odessa 2s linear;
  animation-delay: 3s;
}
.container .title-box .box-odessa img:nth-child(5) {
  animation: odessa 2s linear;
  animation-delay: 3.5s;
}
.container .title-box .box-odessa img:nth-child(6) {
  animation: odessa 2s linear;
  animation-delay: 4s;
}
@keyframes odessa {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}
.container .text-excitement-of-odessa {
  margin-bottom: 53%;
  text-align: center;
}
.container .text-excitement-of-odessa span {
  font-family: "Road-Radio";
  font-weight: 700;
  position: relative;
  font-size: 100px;
  line-height: 120px;
  text-transform: uppercase;
  letter-spacing: 3.75px;
  background-image: url(../img/section2/text-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0);
  background-size: contain;
}
.container .text-excitement-of-odessa p {
  color: #3ab5c7;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.container .text-excitement-of-odessa .btn-more {
  margin-left: 28%;
  text-decoration: none;
}
.container .odessa-relax {
  text-align: center;
}
.container .odessa-relax .title2 {
  opacity: 0.42;
  color: #044041;
  font-size: 50px;
  text-transform: uppercase;
}
.container .odessa-relax .title1 {
  color: #454545;
  font-size: 27px;
  text-transform: uppercase;
}
.container .box-hotels {
  margin-bottom: 65%;
}
.container .box-hotels img {
  position: relative;
  z-index: 2;
  margin-top: 260px;
  margin-bottom: 33px;
  max-width: 100%;
}
.container .box-hotels .btn-hotels {
  text-decoration: none;
}
.container .box-text-hotels {
  display: flex;
  justify-content: left;
  padding-bottom: 100px;
}
.container .box-text-hotels .text-hotels {
  font-size: 40px;
  margin-top: 35px;
  background-image: url(../img/section3/text-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(0, 0, 0, 0);
  background-size: contain;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  margin-left: 40px;
}
.container .bg-transfer {
  background: url(../img/section4/transfer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.container .transfer {
  margin-top: 30px;
  margin-left: 90px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 160px;
}
.container .transfer .btn-transfer {
  text-decoration: none;
  cursor: pointer;
}
.container .transfer span {
  margin-top: 30px;
  color: #3ab5c7;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}
.container .box-turs {
  padding: 110px 0px;
}
.container .box-turs .row {
  height: 425px;
}
.container .box-turs .row .turs {
  text-align: center;
  position: relative;
}
.container .box-turs .row .turs img {
  z-index: 50;
  position: relative;
}
.container .box-turs .row .turs span {
  color: #2e9aaa;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}
.container .box-turs .title-turs {
  text-align: center;
  margin-top: 68px;
}
.container .box-turs .title-turs span {
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin-bottom: 10px;
  font-weight: 700;
  background-image: url(../img/section5/bg-text.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(7, 160, 160, 0.34);
}
.container .box-turs .title-turs .btn-turs {
  text-decoration: none;
}
.container .food-turs {
  width: 100%;
  height: 400px;
  margin-bottom: 15px;
}
.container .food-turs .food-slider {
  height: 100%;
}
.container .food-turs .food-slider .food {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container .food-turs .food-slider .slick-dots {
  top: 400px;
}
.container .food-turs .food-slider .slick-dots li button:before {
  color: #3ab5c7;
  font-size: 12px;
}
.container .food-turs .food-slider .slick-dots li.slick-active {
  transform: scale(1.5);
}
.container .food-turs .food-slider .slick-dots li.slick-active:before {
  background-color: #3ab5c7;
}
.container .food-turs .food-slider2 {
  height: 100%;
}
.container .food-turs .food-slider2 .food {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container .food-turs .food-slider2 .slick-dots li button:before {
  color: #3ab5c7;
  font-size: 12px;
}
.container .food-turs .food-slider2 .slick-dots li.slick-active {
  transform: scale(1.5);
}
.container .food-turs .food-slider2 .slick-dots li.slick-active:before {
  background-color: #3ab5c7;
}
.container .title-turs {
  text-align: center;
  margin-top: 20px;
}
.container .title-turs .title1 {
  font-size: 27px;
  color: #3ab5c7;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 0.95px;
  font-weight: 700;
}
.container .title-turs .title2 {
  font-size: 72px;
  color: #3ab5c7;
  text-transform: uppercase;
  letter-spacing: 0.95px;
  letter-spacing: 2.5px;
  line-height: 67.13px;
  font-weight: 700;
}
.container .photo-gallery-title {
  text-align: center;
  margin-top: 30px;
}
.container .photo-gallery-title .title1 {
  display: inline-block;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url(../img/section6/apples-berries-bottle.png);
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(0, 131, 194, 0.85);
}
.container .photo-gallery-title .title2 {
  margin-left: 15px;
  display: inline-block;
  font-size: 70px;
  text-transform: uppercase;
  color: #3ab5c7;
  font-weight: 400;
}
.container .gallery-slider {
  width: 100%;
  height: 650px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.container .gallery-slider .box-gallary {
  display: flex;
}
.container .gallery-slider .box-gallary .box-img-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 650px;
  overflow: hidden;
}
.container .gallery-slider .box-gallary .box-img-active .img-active {
  max-width: 100%;
}
.container .gallery-slider .box-gallary .box-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 600px;
}
.container .gallery-slider .box-gallary .box-img .img-gallary {
  max-width: 100%;
  cursor: pointer;
}
.container .gallery-slider .slick-dots li button:before {
  color: #3ab5c7;
  font-size: 12px;
}
.container .gallery-slider .slick-dots li.slick-active {
  transform: scale(1.5);
}
.container .gallery-slider .slick-dots li.slick-active:before {
  background-color: #3ab5c7;
}
.container .feedback {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
}
.container .feedback span {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2.8px;
}
.container .feedback .feedback-slidere {
  height: 230px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 15px;
}
.container .feedback .feedback-slidere .mesenger {
  display: flex;
  height: 200px;
  width: 100%;
  margin-left: 30px;
}
.container .feedback .feedback-slidere .mesenger img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.container .feedback .feedback-slidere .mesenger .title-mesenger {
  text-align: left;
  margin-left: 10px;
}
.container .feedback .feedback-slidere .mesenger .title-mesenger .name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.72px;
}
.container .feedback .feedback-slidere .mesenger .title-mesenger p {
  margin-top: 15px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
}
.container .feedback .feedback-slidere .slick-dots li button:before {
  color: #ffffff;
  font-size: 12px;
}
.container .feedback .feedback-slidere .slick-dots li.slick-active {
  transform: scale(1.5);
}
.container .feedback .feedback-slidere .slick-dots li.slick-active:before {
  background-color: #ffffff;
}
.container .discount {
  margin-top: 120px;
}
.container .discount .title-discount span {
  color: #3ab5c7;
  font-size: 41px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.2px;
}
.container .discount .title-discount span:nth-child(2) {
  line-height: 101.39px;
  letter-spacing: -3.04px;
  font-size: 101px;
}
.container .discount .title-discount span:nth-child(4) {
  font-size: 188px;
  line-height: 162.75px;
  text-transform: uppercase;
  letter-spacing: -5.64px;
}
.container .discount .title-discount.title_work {
  max-width: 470px;
}
.container .discount .title-discount.title_work span {
  text-transform: unset;
}
.container .discount .title-discount.title_work span.first {
  font-size: 75px;
  line-height: 1;
}
.container .discount .title-discount.title_work span.second {
  font-size: 100px;
  font-family: "AvenirNext-Bold";
  line-height: 1;
}
.container .discount .title-discount.title_work span.third {
  font-size: 100px;
  font-weight: 600;
  line-height: 1;
}
.container .discount .title-discount.title_work span.fourth {
  font-size: 52px;
  line-height: 1;
}
.container .discount .get-discount .inp-text {
  margin-top: 15px;
  border-radius: 15px;
  border: 2px solid #3ab5c7;
  padding: 20px;
  color: #3ab5c7;
}
.container .discount .get-discount .inp-text:nth-child(2) {
  margin-top: 25px;
}
.container .discount .get-discount .inp-message {
  margin-top: 25px;
  border-radius: 15px;
  border: 2px solid #3ab5c7;
  padding: 20px;
  resize: none;
  width: 100%;
  height: 115px;
  margin-bottom: 34px;
  color: #3ab5c7;
}
.container .discount .get-discount input::placeholder {
  color: #3ab5c7;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
}
.container .discount .get-discount input:active,
.container .discount .get-discount :hover,
.container .discount .get-discount :focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}
.container .discount .get-discount textarea::placeholder {
  color: #3ab5c7;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
}
.container .discount .get-discount .btn-messenge {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  line-height: 41px;
  text-transform: unset;
  letter-spacing: -0.8px;
  border-radius: 15px;
  max-width: 490px;
  width: 100%;
  padding: 10px 40px;
  box-sizing: border-box;
  text-align: center;
}
.container .box-reservations {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.container .box-reservations .title-reservations {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  line-height: 41px;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-top: 195px;
}
.container .box-reservations .reservations {
  max-width: 515px;
  margin-top: 33px;
  text-align: left;
}
.container .box-reservations .reservations .box-date {
  display: flex;
  justify-content: space-between;
}
.container .box-reservations .reservations .box-date .date {
  width: 45%;
  position: relative;
}
.container .box-reservations .reservations .box-date .date span {
  text-transform: uppercase;
  letter-spacing: -0.72px;
}
.container .box-reservations .reservations .box-date .date .form-date {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  padding: 10px 10px 10px 30px;
  color: #3ab5c7;
  width: 100%;
  cursor: pointer;
}
.container .box-reservations .reservations .box-date .date:after {
  content: "";
  position: absolute;
  top: 60%;
  right: 13px;
  border: 8px solid transparent;
  border-top: 8px solid #3ab5c7;
  z-index: 999;
}
.container .box-reservations .reservations .box-date .date input::placeholder {
  color: #3ab5c7;
}
.container .box-reservations .reservations span {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: -0.72px;
  margin-left: 33px;
  color: #ffffff;
}
.container .box-reservations .reservations .form-text {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
  width: 100%;
  border: 2px solid #ffffff;
  padding: 10px 10px 10px 30px;
  color: #3ab5c7;
}
.container .box-reservations .reservations .box-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.container .box-reservations .reservations .box-contact .contact {
  width: 45%;
}
.container .box-reservations .reservations .box-contact .contact span {
  text-transform: uppercase;
  letter-spacing: -0.72px;
}
.container .box-reservations .reservations .box-contact .contact .form-contact {
  margin-bottom: 10px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.72px;
  border: 2px solid #ffffff;
  padding: 10px;
  color: #3ab5c7;
  width: 100%;
}
.container .box-reservations .btn-reservations {
  margin-top: 40px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1.25px;
  padding: 10px 108px;
  text-decoration: none;
}
.container .footer-nav {
  display: flex;
  justify-content: space-between;
}
.container .footer-nav .footer-nav-box {
  margin-top: 120px;
}
.container .footer-nav .footer-nav-box .footer-menu {
  margin-bottom: 0px;
}
.container .footer-nav .footer-nav-box .footer-menu li {
  position: relative;
  padding: 17px 20px;
  float: left;
}
.container .footer-nav .footer-nav-box .footer-menu li a {
  font-family: "AvenirNext-Bold";
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 0.6px;
  text-decoration: none;
}
.container .footer-nav .footer-nav-box .footer-menu li:hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  border-bottom: 15px solid #ffffff;
}
.container .footer-nav .contact-footer {
  display: flex;
  margin-top: 90px;
}
.container .footer-nav .contact-footer .contact a {
  margin: 5px;
  margin-left: 10px;
  text-decoration: none;
  list-style: none;
}
.container .footer-nav .contact-footer .contact a span {
  margin-left: 15px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.6px;
}
.container .footer-nav .contact-footer .contact:nth-child(1) {
  display: flex;
  align-items: flex-end;
  padding-bottom: 13px;
}
.container .footer-nav .contact-footer .contact:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.contact-bg {
  margin-top: -410px;
  padding: 70px 0 100px 0;
}
.contact-bg.about_contact {
  margin-top: 0;
}
.contact-bg__box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contact-bg__box-left {
  width: 500px;
  padding: 0 90px 50px 50px;
}
.contact-bg__box-left .contact-bg__box-title:nth-child(1) {
  font-size: 72px;
  line-height: 1;
  margin-bottom: 0;
  font-family: "AvenirNext-Bold";
}
.contact-bg__box-left .contact-bg__box-title:nth-child(2) {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 150px;
  font-family: 'AvenirNext';
  font-weight: 500;
}
.contact-bg__box-left .contact-bg__box-desc {
  min-width: 381px;
  display: flex;
  flex-direction: column;
}
.contact-bg__box-left .contact-bg__box-desc .box-desc__title {
  font-size: 30px;
  color: #454545;
  font-family: "AcromMedium";
}
.contact-bg__box-left .contact-bg__box-desc .box-desc__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.contact-bg__box-left .contact-bg__box-desc .box-desc__item svg {
  margin-right: 15px;
}
.contact-bg__box-left .contact-bg__box-desc .box-desc__item-desc {
  font-family: "AcromMedium";
  margin-bottom: 0;
  font-size: 22px;
  color: #454545;
}
.contact-bg__box-left .contact-bg__box-desc .box-desc__item-desc a {
  display: block;
  font-family: "AcromMedium";
  margin-bottom: 0;
  font-size: 22px;
  color: #454545;
  text-decoration: none;
}
.contact-bg__box-right {
  width: 65%;
  height: 715px;
}
.contact-bg__box-right .contact-bg__box-map {
  width: 100%;
  height: 100%;
}
.wrapper_k {
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
}
.header-in.about_header .container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
}
.header-in.about_header .container .nav-box .menu li a {
  color: #3ab5c7;
}
.header-in.about_header .container .nav-box .menu li.active a {
  color: #fff !important;
  background: #3ab5c7;
}
.header-in.about_header .container .social-contact_lang {
  color: #3ab5c7;
}
.header-in.about_header .container .social-contact span {
  color: #3ab5c7;
}
.header-in.about_header .container .nav-box .menu li:hover::after {
  border-color: #3ab5c7;
}
.header-in .header_about_bg {
  width: 100%;
}
.header-in .header_about_title {
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.header-in .header_about_title_item {
  width: 450px;
}
.header-in .header-bg-in {
  height: 800px;
  background: url(../img/header/header-in.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.header-in .container {
  position: relative;
  max-width: 1232px;
}
.header-in .container .header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-in .container .logo {
  max-width: 85px;
  padding-top: 10px;
  padding-left: 15px;
}
.header-in .container .logo .header-img {
  width: 100%;
}
.header-in .container .nav-box .menu {
  margin-bottom: 0px;
}
.header-in .container .nav-box .menu li {
  position: relative;
  padding: 17px 20px;
  float: left;
}
.header-in .container .nav-box .menu li a {
  font-family: "AvenirNext-Bold";
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 0.6px;
  text-decoration: none;
}
.header-in .container .nav-box .menu li:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  border-top: 15px solid #ffffff;
}
.header-in .container .nav-box .box-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
  z-index: 999;
}
.header-in .container .nav-box .box-mobile.active {
  opacity: 1;
  visibility: visible;
}
.header-in .container .nav-box .box-mobile.active .menu-mobile {
  transform: none;
  opacity: 1;
  visibility: visible;
}
.header-in .container .nav-box .box-mobile .menu-mobile {
  position: absolute;
  width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(../img/header/640579.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  transform: translateX(-100%);
  z-index: 500;
}
.header-in .container .nav-box .box-mobile .menu-mobile li {
  padding: 5px 0px;
}
.header-in .container .nav-box .box-mobile .menu-mobile li a {
  font-family: "AvenirNext-Bold";
  font-size: 18px;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: 0.6px;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}
.header-in .container .nav-box .box-mobile .menu-mobile li .fa-times {
  font-size: 18px;
  color: #fff;
}
.header-in .container .nav-box .box-mobile .menu-mobile:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2690b96b;
  z-index: -1;
}
.header-in .container .nav-box .fa-bars {
  display: none;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
}
.header-in .container .header-contact {
  float: right;
}
.header-in .container .header-contact ul li {
  padding: 17px 10px;
  float: left;
}
.header-in .container .title-box {
  margin-top: 130px;
  margin-bottom: 515px;
  text-align: left;
}
.header-in .container .title-box span {
  font-size: 57px;
  font-family: "Road-Radio";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.75px;
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(103, 245, 232, 0.34);
  background-position: center;
}
.header-in .container .title-box .box-odessa {
  margin-top: 20px;
}
.header-in .container .title-box .box-odessa img {
  max-width: 100%;
}
.header-in .container .title-box .box-odessa img:nth-child(1) {
  animation: odessa 2s linear;
  animation-delay: 1.5s;
}
.header-in .container .title-box .box-odessa img:nth-child(2) {
  animation: odessa 2s linear;
  animation-delay: 2s;
}
.header-in .container .title-box .box-odessa img:nth-child(3) {
  animation: odessa 2s linear;
  animation-delay: 2.5s;
}
.header-in .container .title-box .box-odessa img:nth-child(4) {
  animation: odessa 2s linear;
  animation-delay: 3s;
}
.header-in .container .title-box .box-odessa img:nth-child(5) {
  animation: odessa 2s linear;
  animation-delay: 3.5s;
}
.header-in .container .title-box .box-odessa img:nth-child(6) {
  animation: odessa 2s linear;
  animation-delay: 4s;
}
@keyframes odessa {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}
.footer-in .bg-footer-in {
  background: url(../img/footer/footer-in.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
}
.footer-in .container {
  height: 600px;
  display: flex;
  align-items: flex-end;
}
.footer-in .container .footer-nav {
  width: 100%;
  align-items: flex-end;
}
.footer-in .container .footer-nav .logo {
  text-align: center;
  width: 70px;
  margin-top: 0;
  padding-left: 0;
  padding-bottom: 10px;
  padding-top: 15px;
}
.footer-in .container .footer-nav .logo .contact {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.footer-in .container .footer-nav .logo a {
  display: block;
  padding: 0 10px 0 10px;
}
.footer-in .container .footer-nav .footer-nav-box {
  margin-top: 0;
}
.footer-in .container .footer-nav .contact-footer {
  margin-top: 0;
}
.footer-in .container .footer-nav .contact-footer .contact {
  align-items: flex-start;
  flex-direction: column;
}
.header-gallery .header-bg-in {
  height: 1060px;
  background: url(../img/header/header-gallery.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-gallery .container {
  position: relative;
  max-width: 1232px;
}
.header-gallery .container .nav-box .fa-bars {
  color: #3ab5c7;
}
.header-gallery .container .header-row {
  margin-bottom: 170px;
  display: flex;
  justify-content: space-between;
}
.header-gallery .container .header-row .menu li a {
  color: #3ab5c7;
}
.header-gallery .container .header-row .menu li:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  border-top: 15px solid #3ab5c7;
}
.header-gallery .container .logo {
  max-width: 85px;
  padding-top: 10px;
  padding-left: 15px;
}
.header-gallery .container .logo .header-img {
  width: 100%;
}
.header-gallery .container .header-title {
  color: #3ab5c7;
  font-family: "AvenirNext-Bold";
  font-size: 72px;
}
.header-gallery .container .header-desc {
  max-width: 545px;
  color: black;
  font-family: 'AvenirNext';
  font-weight: 500;
  font-size: 20px;
}
section.gallery {
  margin-top: -150px;
  margin-bottom: -250px;
  position: relative;
  z-index: 900;
  padding: 0 50px 0 50px;
}
section.gallery .gallery-container {
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
}
section.gallery .gallery-container__item {
  text-align: center;
  width: 27%;
  margin-bottom: 130px;
}
section.gallery .gallery-container__item-title {
  line-height: 1;
  text-align: start;
  color: #3ab5c7;
  font-size: 27px;
  font-family: "AvenirNext-Bold";
  margin-bottom: 45px;
}
section.gallery .gallery-container__item-title b {
  font-size: 72px;
}
section.gallery .gallery-container__item-box {
  margin-bottom: 30px;
  position: relative;
  padding: 1%;
}
section.gallery .gallery-container__item-img {
  width: 100%;
}
section.gallery .gallery-container__item-mask {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
section.gallery .gallery-container__item-button {
  font-size: 34px;
  width: 280px;
  height: 55px;
  color: white;
  background: #3ab5c7;
  border-radius: 25px;
  border: 0;
  cursor: pointer;
}
section.gallery .gallery-container__item-button:hover {
  background: #a62117;
}
section.gallery .main-slider {
  display: none;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 75px 100px 100px 100px;
  margin: auto;
  max-width: 1460px;
}
section.gallery .main-slider--active {
  display: block;
}
section.gallery .main-slider__flex {
  display: flex;
}
section.gallery .main-slider .gallery-slider__desc {
  max-width: 360px;
  padding-left: 75px;
}
section.gallery .main-slider .gallery-slider__desc-title {
  line-height: 1;
  text-align: start;
  color: #3ab5c7;
  font-size: 27px;
  font-family: "AvenirNext-Bold";
  margin-bottom: 45px;
}
section.gallery .main-slider .gallery-slider__desc-title b {
  font-size: 72px;
}
section.gallery .main-slider .gallery-slider__desc-text {
  color: black;
}
section.gallery .main-slider .gallery-slider__desc-social a {
  display: inline-block;
  padding: 10px;
}
section.gallery .main-slider .gallery-slider__for {
  max-width: 63%;
}
section.gallery .main-slider .gallery-slider__for-img {
  width: 100%;
}
section.gallery .main-slider .gallery-slider__nav-second,
section.gallery .main-slider .gallery-slider__nav {
  width: 100%;
  margin-top: 40px;
}
section.gallery .main-slider .gallery-slider__nav-second .slick-track,
section.gallery .main-slider .gallery-slider__nav .slick-track {
  display: flex;
  justify-content: space-between;
}
section.gallery .main-slider .gallery-slider__nav-second .slick-track::before,
section.gallery .main-slider .gallery-slider__nav .slick-track::before {
  position: absolute;
}
section.gallery .main-slider .gallery-slider__nav-second-slide,
section.gallery .main-slider .gallery-slider__nav-slide {
  max-width: 200px;
}
section.gallery .main-slider .gallery-slider__nav-second-img,
section.gallery .main-slider .gallery-slider__nav-img {
  width: 100%;
}
.header-in .header-bg-tour {
  height: 1450px;
  background: url(../img/header/header-tour.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
section .tour-bg {
  margin-top: -450px;
  padding: 0 50px 0 50px;
}
section .tour-bg .tour-wrapper {
  max-width: 1250px;
  margin: auto;
}
section .tour-bg .tour__block {
  margin-bottom: 80px;
}
section .tour-bg .tour__block-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 800px;
}
section .tour-bg .tour__block-top .tour__block-title {
  line-height: 1;
  text-align: start;
  color: #3ab5c7;
  font-size: 27px;
  margin-bottom: 50px;
  font-family: "AvenirNext-Bold";
}
section .tour-bg .tour__block-top .tour__block-title b {
  font-size: 72px;
}
section .tour-bg .tour__block-top .tour__block-button {
  font-size: 20px;
  width: 520px;
  height: 55px;
  color: white;
  background: #3ab5c7;
  border-radius: 25px;
  border: 0;
  font-family: "AvenirNext-Bold";
  cursor: pointer;
  margin-bottom: 50px;
}
section .tour-bg .tour__block-top .tour__block-button:hover {
  background: #a62117;
}
section .tour-bg .tour__block-desc {
  font-family: 'AvenirNext';
  font-weight: 500;
  color: black;
  font-size: 30px;
  line-height: 1;
}
section .tour-bg .tour__block-bottom {
  display: flex;
  justify-content: center;
}
section .tour-bg .tour__block-bottom .tour__block-item {
  width: 50%;
}
section .tour-bg .tour__block-bottom .tour__block-img {
  width: 100%;
}
.about_container {
  margin-top: -250px;
}
.about_container .fest_img {
  width: 100%;
}
.about_container .fest_img_col {
  position: relative;
  padding: 0;
  cursor: pointer;
}
.about_container .fest_img_col:hover .fest_img_search {
  opacity: 1;
  visibility: visible;
}
.about_container .fest_img_search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.4s ease-out;
  visibility: hidden;
  pointer-events: none;
}
.about_container .fest_img_search i {
  color: #fff;
  font-size: 40px;
}
.about_container.work_container {
  padding-top: 150px;
  margin-top: 0;
}
.about_container.hotel_container {
  margin-top: -220px;
}
.about_container.hotel_container .about_container_title {
  margin-bottom: 0;
}
.about_container_title {
  font-size: 50px;
  font-weight: bold;
  font-family: "AvenirNext-Bold";
  color: #3ab5c7;
  text-transform: uppercase;
}
.about_container_podtitle {
  font-size: 37px;
  font-weight: bold;
  font-family: "AvenirNext-Bold";
  color: #3ab5c7;
  text-transform: uppercase;
}
.about_container_podtitle.fest_podtitle {
  font-size: 24px;
}
.about_container_podtitle.fest_subtitle {
  font-family: "AvenirNext";
}
.about_container_subtitle {
  font-size: 24px;
  font-weight: bold;
  font-family: "AvenirNext-Bold";
  color: #333;
}
.about_container_text {
  font-size: 24px;
  color: #333333;
}
.about_container_text b {
  color: #3ab5c7;
  font-family: "AvenirNext-Bold";
  font-size: 24px;
}
.about_container_text-work b {
  font-family: "AvenirNext";
  font-size: 24px;
}
.about_container_link {
  font-size: 24px;
  color: #3ab5c7;
}
.about_container_row {
  align-items: center;
}
.about_container_row_box {
  position: relative;
  margin-bottom: 20px;
}
.about_container_row_box_item {
  width: 100%;
}
.about_container_row_box_wave {
  position: absolute;
  top: -30px;
  left: -30px;
  bottom: -30px;
  right: -30px;
}
.team_title {
  font-size: 30px;
  font-weight: bold;
  font-family: "AvenirNext-Bold";
  color: #3ab5c7;
  text-transform: uppercase;
  text-align: center;
}
.team_container {
  margin-top: 30px;
}
.team_container_item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team_container_item_image {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 150px;
  border-radius: 100%;
}
.team_container_item_prof {
  font-size: 20px;
  font-weight: bold;
  font-family: "AvenirNext-Bold";
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team_container_item_name {
  color: #333;
  font-size: 20px;
}
.tabul {
  padding: 60px 0;
}
.tabul_list_item {
  display: flex;
}
.tabul_list_item_btn {
  color: #fff !important;
  font-size: 26px;
  background: #3ab5c7;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  border-radius: 30px;
  transition: all 0.4s ease-out;
  cursor: pointer;
}
.tabul_list_item_btn.active {
  background: #c53131;
}
.tabul_slider {
  margin-top: 50px;
  position: relative;
}
.tabul_slider .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.tabul_slider .arrow.prev {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}
.tabul_slider .arrow.next {
  right: 0;
}
.tabul_slider_container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transition: all 0.6s ease-out;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
}
.tabul_slider_container.active {
  position: relative;
  opacity: 1;
  visibility: visible;
  transform: none;
}
.tabul_slider_container .slider {
  position: relative;
  padding: 0 30px;
}
.tabul_slider_container .slider .slide {
  padding: 0 10px;
}
.tabul_slider_container_box.active .box_image_price {
  background: #a62117;
}
.tabul_slider_container_box.active .box_image_desc {
  transform: none;
}
.tabul_slider_container_box.active .box_stars .fa-star.active {
  color: #a62117;
}
.tabul_slider_container_box.active .box_subtitle {
  color: #a62117;
}
.tabul_slider_container_box.active .box_title {
  color: #a62117;
}
.tabul_slider_container_box .box_image {
  position: relative;
  overflow: hidden;
}
.tabul_slider_container_box .box_image_item {
  width: 100%;
}
.tabul_slider_container_box .box_image_price {
  font-size: 30px;
  color: #fff;
  font-family: "AvenirNext-Bold";
  padding: 3px 20px;
  position: absolute;
  top: 40px;
  left: 0;
  background: #3ab5c7;
  transition: all 0.4s ease-out;
}
.tabul_slider_container_box .box_image_desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #a62117;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 10px 20px;
  transform: translateY(100%);
  transition: all 0.4s ease-out;
}
.tabul_slider_container_box .box {
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
}
.tabul_slider_container_box .box_subtitle {
  font-size: 20px;
  margin-bottom: 0;
  transition: all 0.4s ease-out;
}
.tabul_slider_container_box .box_title {
  font-size: 30px;
  font-family: "AvenirNext-Bold";
  text-transform: uppercase;
  transition: all 0.4s ease-out;
}
.tabul_slider_container_box .box_stars {
  display: flex;
  justify-content: flex-start;
}
.tabul_slider_container_box .box_stars .fa-star {
  color: #b5b5b5;
  margin-right: 5px;
  transition: all 0.4s ease-out;
}
.tabul_slider_container_box .box_stars .fa-star.active {
  color: #3ab5c7;
}
.work_subtitle {
  font-family: "AvenirNext-Bold";
  color: #333;
  margin-bottom: 20px;
}
